// .wrapper {
//   min-height: 100%;
//   position: relative;
//   overflow: hidden;
// }

.parallax {
  $block: &;

  @include position("fixed -1% -5%");
  // size: 100%;
  overflow: hidden;

  &__layer {
    @include position("absolute 0 * * 0");
    size: 100%;
    will-change: transform;
  }

  &__img {
    @include position("absolute * * 0 50%");
    max-width: 100%;
    width: 100%;
    transform: translateX(-50%);
  }

  // &#{$block}-scroll
  // {
  //   overflow-y: auto;
  //   perspective: 100px;

  //   &,
  //   #{$block}__layer {
  //     right: 0;
  //     bottom: 0;
  //     size: auto;
  //   }

  //   #{$block}__layer {
  //     will-change: unset;
  //   }

  //   #{$block}__img {
  //     display: block;
  //     max-width: 100%;
  //   }

  //   // $layers: 2;

  //   // @for $layerNum from $layers through 1
  //   // {
  //   //   #{$block}__layer:nth-child(#{$layerNum}) {
  //   //     $currentLayer: $layers - $layerNum;
  //   //     $perspective: -$currentLayer * 50px;
  //   //     $scale: $currentLayer * .5 + 1;

  //   //     transform: translateZ($perspective) scale($scale);
  //   //   }
  //   // }
  // }
}
