.main-slider {
  width: 532px;
  height: 412px;

  .frame_wrap__corner {
    &--inside_left_top,
    &--inside_right_top,
    &--inside_left_bottom,
    &--inside_right_bottom {
      width: $mainSliderInsideFrameMargin;
      height: $mainSliderInsideCornerHeight;
    }

    &--outside_left_top,
    &--outside_right_top,
    &--outside_left_bottom,
    &--outside_right_bottom {
      width: $mainSliderOutsideCornerHeight;
      height: $mainSliderOutsideFrameMargin;
    }

    &--inside_left_top,
    &--outside_left_top {
      top: $mainSliderOutsideFrameMargin;
      left: $mainSliderInsideFrameMargin;
    }

    &--inside_right_top,
    &--outside_right_top {
      top: $mainSliderOutsideFrameMargin;
      right: $mainSliderInsideFrameMargin;
    }

    &--outside_left_bottom,
    &--inside_left_bottom {
      left: $mainSliderInsideFrameMargin;
      bottom: $mainSliderOutsideFrameMargin;
    }

    &--outside_right_bottom,
    &--inside_right_bottom {
      right: $mainSliderInsideFrameMargin;
      bottom: $mainSliderOutsideFrameMargin;
    }

    &--inside_left_top {
      border-top: $mainSliderBorderSize solid $white;
      border-left: $mainSliderBorderSize solid $white;
    }

    &--inside_right_top {
      border-top: $mainSliderBorderSize solid $white;
      border-right: $mainSliderBorderSize solid $white;
    }

    &--outside_left_top {
      border-top: $mainSliderBorderSize solid $white;
      border-left: $mainSliderBorderSize solid $white;
    }

    &--outside_right_top {
      border-top: $mainSliderBorderSize solid $white;
      border-right: $mainSliderBorderSize solid $white;
    }

    &--outside_left_bottom {
      border-left: $mainSliderBorderSize solid $white;
      border-bottom: $mainSliderBorderSize solid $white;
    }

    &--outside_right_bottom {
      border-right: $mainSliderBorderSize solid $white;
      border-bottom: $mainSliderBorderSize solid $white;
    }

    &--inside_left_bottom {
      border-left: $mainSliderBorderSize solid $white;
      border-bottom: $mainSliderBorderSize solid $white;
    }

    &--inside_right_bottom {
      border-right: $mainSliderBorderSize solid $white;
      border-bottom: $mainSliderBorderSize solid $white;
    }
  }
  .frame_wrap__frame {
    top: $mainSliderOutsideFrameMargin;
    width: 86.6412213740458%;
    height: 82.75862068965517%;
    background-color: $blackShadow;
    // background: none;
    // box-shadow: 35px 35px 35px $blackShadow;
    @include box-shadow(18px, 35px, $blackShadow);
  }

  .rslides_nav {
    line-height: 412px;
  }
}

.wrap-carousel {
  margin-top: -164px;
}

.carousel {
  @include carousel(87px);
}
