// @media screen and (min-width: 100px) {
//   .wrap-carousel {
//     z-index: $z6;
//     margin-top: -126px;
//   }

//   .carousel {
//     @include carousel(62px);
//   }
// }

@import "adaptive/iphone/small";

@media screen and (min-width: 420px) {
  .logo,
  .menu_checker,
  .menu a,
  .menu-link {
    @include padding("* 20px");
  }

  .main_slider {
    width: 410px;
    height: 318px;

    .frame_wrap-frame {
      border: $mainSliderBorderSize solid $white;
    }

    .slider-arrow {
      line-height: 318px;
    }
  }

  .wrap-carousel {
    margin-top: -131px;
  }

  // .carousel
  // {
  //   @include carousel(67px);
  // }
}

@media screen and (min-width: 500px) {
  @import "adaptive/iphone/large";
}

@media screen and (min-width: 550px) {
  #menu-check:before {
    display: none;
    // border: 2px solid #ffffff;
    // margin-bottom: 9px;
    // border-radius: 4px;
    // padding: 5px 10px;
    // font: 36px/1 FontAwesome;
    // color: $white;
    // content: '\f0c9';
    // cursor: pointer;
  }

  #main-menu {
    position: static;
    // right: 0;
    // z-index: $z7;
    display: block;
    // line-height: 51px;
    background: none;

    li {
      float: left;
      width: auto;
    }
  }
}

@media screen and (min-width: 605px) {
  .category {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  @import "adaptive/ipad";
}

@media screen and (min-width: 899px) {
  @include bodyBgImages("lmd", "lmd");

  .category {
    width: 33.33333333333333%;
  }
}

@media screen and (min-width: 1048px) {
  @import "adaptive/desktop";
}

@media screen and (min-width: 1193px) {
  @include bodyBgImages("xl", "xl");

  .category {
    width: 25%;
  }
}

@media screen and (min-width: 1367px) {
  .main_slider {
    .slider-arrow {
      width: 50%;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1487px) {
  @include bodyBgImages("xxl", "xxl");

  .category {
    width: 20%;
  }
}

@media screen and (min-width: 2520px) {
  @include bodyBgImages("xxxl", "xxxl");
}
