@mixin fonts($fontFamily, $weight: normal, $style: normal) {
  $rootPath: "../fonts";

  @font-face {
    font-family: $fontFamily;
    src: url("#{$rootPath}/#{$fontFamily}/#{$fontFamily}.eot");
    src: url("#{$rootPath}/#{$fontFamily}/#{$fontFamily}.eot?#iefix")
        format("embedded-opentype"),
      url("#{$rootPath}/#{$fontFamily}/#{$fontFamily}.woff2") format("woff2"),
      url("#{$rootPath}/#{$fontFamily}/#{$fontFamily}.woff") format("woff"),
      url("#{$rootPath}/#{$fontFamily}/#{$fontFamily}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin cssProp($property, $value) {
  #{$property}: unquote($value);
}

@mixin margin($value) {
  // margin: unquote($value);
  @include cssProp(margin, $value);
}

@mixin border($value) {
  // border: unquote($value);
  @include cssProp(border, $value);
}

@mixin padding($value) {
  // padding: unquote($value);
  @include cssProp(padding, $value);
}

@mixin size($value) {
  // size: unquote($value);
  @include cssProp(size, $value);
}

@mixin position($value) {
  @include cssProp(position, $value);
}

@mixin oneLineBlock($height, $border: 0) {
  height: $height;
  line-height: $height - $border * 2;
}

@mixin svgBg($id) {
  background: url("../svg/symbol/svg/sprite.symbol.svg##{$id}");
}

@mixin widthToPercents($value, $total) {
  $per: $value * 100%;

  width: calc(#{$per}/#{$total});
}

@mixin box-shadow($size, $blur, $color) {
  $halfSize: round($size/2);
  $halfBlur: round($blur/2);

  box-shadow: unquote(
    "-#{$size} #{$size} #{$blur} #{$color},
    -#{$size} -#{$size} #{$blur} #{$color},
    #{$size} -#{$size} #{$blur} #{$color}, #{$size} #{$size} #{$blur} #{$color},
    0 #{$halfSize} #{$halfBlur} #{$color}, -#{$halfSize} 0 #{$halfBlur} #{$color},
    0 -#{$halfSize} #{$halfBlur} #{$color}, #{$halfSize} 0 #{$halfBlur} #{$color}"
  );
}

@mixin carousel($height: $carouselHeight) {
  // border-left: 2px solid $white;
  // border-right: 2px solid $white;
  // padding: 0;
  // width: 100%;
  // height: 160px;

  $block: &;

  $width: round($height * 1.076); // 184px;

  $widthPercent: $width/100;
  $heightPercent: $height/100;

  // $margin: $carouselMargin;
  $margin: round($heightPercent * 41.52046783625731);

  // $borderWidth: 2px;
  $borderWidth: round($heightPercent * 1.167);

  // $shadowSize: 16px;
  $shadowSize: round($heightPercent * 9.35672514619883);

  $navHeight: $height + $margin * 2;

  // .simple-slider {
  //   // margin: 10px 0;
  //   // width: 924px;
  //   overflow: hidden;
  // }

  &-slide {
    $elem: &;

    margin: $margin 0;
    // margin: 22.68370607028754% 0;
    border-top: $borderWidth solid $white;
    border-bottom: $borderWidth solid $white;
    // width: $width;
    width: round($height * 1.076);
    height: $height; // 100%
    // color: $white;
    box-shadow: 0 $shadowSize $shadowSize $blackShadow,
      unquote("0 -#{$shadowSize}") $shadowSize $blackShadow;
    // transition: box-shadow $transitionTime;

    &#{$elem}--first {
      border-left: $borderWidth solid $white;
      width: $width + $borderWidth;
    }

    &#{$elem}--last {
      border-right: $borderWidth solid $white;
      width: $width + $borderWidth;
    }
  }

  .active {
    box-shadow: 0 $shadowSize $shadowSize $white,
      unquote("0 -#{$shadowSize}") $shadowSize $white;

    #{$block}-perforation_item {
      box-shadow: 0 1px 2px $white, 0 -1px 2px $white;
    }
  }

  &-perforation {
    // &_list {
    //   display: flex;
    //   flex-wrap: nowrap;
    //   justify-content: space-between;
    //   height: round($heightPercent * 14);
    //   height: 14.03508771929825%;
    //   height: 14.37125748502994%;
    // }

    &_item {
      // margin: 4px auto;
      // margin: 17% auto;
      // margin: round($heightPercent*2.34) auto;
      // margin: 2.173913043478261% auto;
      // border-radius: 3px;
      border-radius: round($heightPercent * 1.75);
      border: $borderWidth solid $white;
      // width: 12px;
      // height: 16px;
      // width: 6.52%;
      // width: round($widthPercent*6.52);
      // height: round($heightPercent*9.36);
      // width: 6.521739130434783%;
      // height: 66.66666666666667%;
    }
  }

  &-frame {
    // margin: 0 auto;
    border: $borderWidth solid $white;
    /*width: 380px;*/
    /*height: 220px;*/
    // width: 178px;
    // height: 119px;
    // width: 97%;
    // height: 71%;
    // width: round($widthPercent*96.74);
    // height: round($heightPercent*69.59);
    // width: 96.73913043478261%;
    // height: 71.25748502994012%;
    // width: 78px;
    // height: 57px;
    // overflow: hidden;
  }

  // img {
  //   display: block;
  //   width: 100%;
  // }

  // .carousel-container {
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   -o-user-select: none;
  //   user-select: none;
  //   overflow: hidden;
  // }

  //   .carousel-demonstration {
  //     position: relative;
  //     border-left: $borderWidth solid $white;
  //     border-right: $borderWidth solid $white;
  //     height: 324px;
  //     overflow: hidden;
  //   }

  //     .carousel-row {
  //       position: absolute;
  //       left: 0;
  //       transition: left 0.5s;
  //     }

  .carousel-nav div {
    width: round($widthPercent * 27.17);
    height: $navHeight;
    font-size: round($widthPercent * 27.17);
    line-height: $navHeight;
  }
}
