// #reasanik
// {
@mixin box-shadow($size, $blur, $color) {
  $halfSize: round($size/2);
  $halfBlur: round($blur/2);

  box-shadow: unquote(
    "-#{$size} #{$size} #{$blur} #{$color},
    -#{$size} -#{$size} #{$blur} #{$color},
    #{$size} -#{$size} #{$blur} #{$color}, #{$size} #{$size} #{$blur} #{$color},
    0 #{$halfSize} #{$halfBlur} #{$color}, -#{$halfSize} 0 #{$halfBlur} #{$color},
    0 -#{$halfSize} #{$halfBlur} #{$color}, #{$halfSize} 0 #{$halfBlur} #{$color}"
  );
}

// $mixin wrap-frame($frameWidth: 224px, $frameHeight: 224px, $cornerHeight: 21px, $frameMargin: 35px, $borderSize: 2px, $marginBottom: 14px)
// $mixin wrap-frame($frameWidth: 1048px, $frameHeight: 812px, $cornerHeight: 41px, $frameMargin: 70px, $borderSize: 4px, $marginBottom: 0)
// {
// //   position: relative;
// //   display: flex;
// //   justify-content: center;
//   width: $frameWidth;
//   height: $frameHeight;
//   margin-bottom: $marginBottom;

// //   .corner {
// //     position: absolute;
// //     transition: top $transitionTime, left $transitionTime, right $transitionTime, bottom $transitionTime;
// //   }

//   .inside-left-top,
//   .inside-right-top,
//   .inside-left-bottom,
//   .inside-right-bottom {
//     width: 6.679389312977099%;
//     height: 5.049261083743842%;
//   }

//   .outside-left-top,
//   .outside-right-top,
//   .outside-left-bottom,
//   .outside-right-bottom {
//     width: 3.912213740458015%;
//     height: 8.620689655172414%;
//   }

//   .inside-left-top,
//   .outside-left-top {
//     top: 8.620689655172414%;
//     left: 6.679389312977099%;
//   }

//   .inside-right-top,
//   .outside-right-top {
//     top: 8.620689655172414%;
//     right: 6.679389312977099%;
//   }

//   .outside-left-bottom,
//   .inside-left-bottom {
//     left: 6.679389312977099%;
//     bottom: 8.620689655172414%;
//   }

//   .outside-right-bottom,
//   .inside-right-bottom {
//     right: 6.679389312977099%;
//     bottom: 8.620689655172414%;
//   }

//   .inside-left-top {
//     border-top: $borderSize solid $white;
//     border-left: $borderSize solid $white;
//   }

//   .inside-right-top {
//     border-top: $borderSize solid $white;
//     border-right: $borderSize solid $white;
//   }

//   .outside-left-top {
//     border-top: $borderSize solid $white;
//     border-left: $borderSize solid $white;
//   }

//   .outside-right-top {
//     border-top: $borderSize solid $white;
//     border-right: $borderSize solid $white;
//   }

//   .outside-left-bottom {
//     border-left: $borderSize solid $white;
//     border-bottom: $borderSize solid $white;
//   }

//   .outside-right-bottom {
//     border-right: $borderSize solid $white;
//     border-bottom: $borderSize solid $white;
//   }

//   .inside-left-bottom {
//     border-left: $borderSize solid $white;
//     border-bottom: $borderSize solid $white;
//   }

//   .inside-right-bottom {
//     border-right: $borderSize solid $white;
//     border-bottom: $borderSize solid $white;
//   }

//   .frame {
//     // position: relative;
//     top: 8.620689655172414%;
//     // display: flex;
//     // align-content: center;
//     // margin: auto;
//     border: $borderSize solid $white;
//     width: 86.6412213740458%;
//     height: 82.75862068965517%;
//     // text-align: center;
//     // overflow: hidden;
//   }

// //     .wrap-image {
// //       position: relative;
// //       // display: flex;
// //       // justify-content: center;
// //       // align-items: center;
// //       width: 100%;
// //       height: 100%;
// //       max-width: 100%;
// //       max-height: 100%;
// //     }

// //       img {
// //         position: relative;
// //         display: block;
// //         top: 50%;
// //         // left: 50%;
// //         margin: 0 auto;
// //         width: auto;
// //         height: auto;
// //         max-width: 100%;
// //         max-height: 100%;
// //         transform: translate(0, -50%);
// //       }

// //     .foreground {
// //       position: absolute;
// //       top: 0;
// //       left: 0;
// //       opacity: 1;
// //       transition: opacity $transitionTime+1s;
// //     }

// //   .delete
// //   {
// //     position: absolute;
// //     top: -5px;
// //     right: -5px;
// //     width: $frameMargin;
// //     height: $frameMargin;

// //     div
// //     {
// //       position: relative;
// //       height: 100%;
// //       transform: rotate(45deg);

// //       &:before,
// //       &:after {
// //         position: absolute;
// //         display: block;
// //         content: '';
// //       }

// //       &:before {
// //         top: 50%;
// //         width: 100%;
// //         border-top: 2px solid $white;
// //       }

// //       &:after {
// //         left: 50%;
// //         height: 100%;
// //         border-left: 2px solid $white;
// //       }
// //     }
// //   }

// //   &:hover,
// //   &.active
// //   {
// //     .inside-left-top,
// //     .inside-right-top {
// //       top: 0;
// //     }

// //     .outside-left-top,
// //     .outside-left-bottom {
// //       left: 0;
// //     }

// //     .outside-right-top,
// //     .outside-right-bottom {
// //       right: 0;
// //     }

// //     .inside-left-bottom,
// //     .inside-right-bottom {
// //       bottom: 0;
// //     }

// //       .foreground {
// //         opacity: 0;
// //       }
// //   }
// }

@mixin carousel($height: $carouselHeight) {
  // border-left: 2px solid $white;
  // border-right: 2px solid $white;
  // padding: 0;
  // width: 100%;
  // height: 160px;

  $width: round($height * 1.076); // 184px;

  $widthPercent: $width/100;
  $heightPercent: $height/100;

  // $margin: $carouselMargin;
  $margin: round($heightPercent * 41.52046783625731);

  // $borderWidth: 2px;
  $borderWidth: round($heightPercent * 1.167);

  // $shadowSize: 16px;
  $shadowSize: round($heightPercent * 9.35672514619883);

  $navHeight: $height + $margin * 2;

  // .simple-slider {
  //   // margin: 10px 0;
  //   // width: 924px;
  //   overflow: hidden;
  // }

  .slide {
    margin: $margin 0;
    // margin: 22.68370607028754% 0;
    border-top: $borderWidth solid $white;
    border-bottom: $borderWidth solid $white;
    // width: $width;
    width: round($height * 1.076);
    height: $height; // 100%
    // color: $white;
    box-shadow: 0 $shadowSize $shadowSize $blackShadow,
      unquote("0 -#{$shadowSize}") $shadowSize $blackShadow;
    // transition: box-shadow $transitionTime;

    &:first-child {
      border-left: $borderWidth solid $white;
      width: $width + $borderWidth;
    }

    &:last-child {
      border-right: $borderWidth solid $white;
      width: $width + $borderWidth;
    }
  }

  .active {
    box-shadow: 0 $shadowSize $shadowSize $white,
      unquote("0 -#{$shadowSize}") $shadowSize $white;

    .perforation div {
      box-shadow: 0 1px 2px $white, 0 -1px 2px $white;
    }
  }

  .perforation {
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    // height: round($heightPercent*14);
    // height: 14.03508771929825%;
    // height: 14.37125748502994%;

    div {
      // margin: 4px auto;
      // margin: 17% auto;
      // margin: round($heightPercent*2.34) auto;
      // margin: 2.173913043478261% auto;
      // border-radius: 3px;
      border-radius: round($heightPercent * 1.75);
      border: $borderWidth solid $white;
      // width: 12px;
      // height: 16px;
      // width: 6.52%;
      // width: round($widthPercent*6.52);
      // height: round($heightPercent*9.36);
      // width: 6.521739130434783%;
      // height: 66.66666666666667%;
    }
  }

  .frame {
    // margin: 0 auto;
    border: $borderWidth solid $white;
    /*width: 380px;*/
    /*height: 220px;*/
    // width: 178px;
    // height: 119px;
    // width: 97%;
    // height: 71%;
    // width: round($widthPercent*96.74);
    // height: round($heightPercent*69.59);
    // width: 96.73913043478261%;
    // height: 71.25748502994012%;
    // width: 78px;
    // height: 57px;
    // overflow: hidden;
  }

  // img {
  //   display: block;
  //   width: 100%;
  // }

  // .carousel-container {
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   -o-user-select: none;
  //   user-select: none;
  //   overflow: hidden;
  // }

  //   .carousel-demonstration {
  //     position: relative;
  //     border-left: $borderWidth solid $white;
  //     border-right: $borderWidth solid $white;
  //     height: 324px;
  //     overflow: hidden;
  //   }

  //     .carousel-row {
  //       position: absolute;
  //       left: 0;
  //       transition: left 0.5s;
  //     }

  .carousel-nav div {
    width: round($widthPercent * 27.17);
    height: $navHeight;
    font-size: round($widthPercent * 27.17);
    line-height: $navHeight;
  }
}

// }
