@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 20px "Franklin Gothic Medium", Arial, Helvetica, sans-serif;
  color: $linkColor;
  background: #163578 url(../img/bg.jpg) no-repeat center top/cover;
  // background: #163578;
}

.main-header,
.main-footer {
  // font-size: 24px;
  background-color: $headerFooterBgColor;
  overflow: hidden;
}

.main-wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;

  &:after {
    display: block;
    height: $footerHeight;
    content: "";
  }
}

.flex-container,
.container,
.simple-slider {
  display: flex;
  flex-wrap: wrap;
}

.clearfix,
.container,
.hor-menu,
.simple-slider,
.carousel__perforation_list {
  &:after {
    display: block;
    clear: both;
    width: 100%;
    content: "";
  }
}

.container,
.breadcrumbs {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 952px;

  // &:before,
  // &:after {
  //   width: 100%;
  // }
}

main,
.main-footer {
  text-align: center;
}

// a,
// img  {
//   display: block;
// }

a,
a:active,
a:visited,
a:hover {
  color: inherit;
}

a:hover,
a.active {
  color: $white;
}

a {
  display: block;
  text-decoration: none;
  transition: color $transitionTime;
}

.logo,
.menu-check,
.hor-menu a {
  padding: 0 20px;
}

ul {
  list-style: none outside;
}

.hor-menu {
  // display: flex;
  // flex-wrap: wrap;

  li {
    float: left;
  }

  .current_page_item,
  .active {
    color: $white;
  }
}

.main-header {
  // position: fixed;
  position: relative;
  // z-index: $z7;
  padding-top: 10px;
  width: 100%;
  height: $headerHeight + $headerSeperator;
  // height: 100%;
  // font-size: 36px;
  // line-height: $headerHeight;
  // line-height: 51px;
  overflow: visible;
  transition: height $transitionTime, line-height $transitionTime;

  .container {
    display: block;
    // justify-content: space-between;

    // &:after {
    //   display: block;
    //   clear: both;
    //   content: '';
    // }
  }

  &.narrow {
    height: $headerNarrowHeight + $headerSeperator;
    // line-height: $headerNarrowHeight;
  }

  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: $headerSeperator;
    background-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    content: "";
  }
}

.logo {
  // display: flex;
  align-items: center;
  float: left;

  color: $white;
  // line-height: 40px;

  b {
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #162f57;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: $white url(images/8.jpg);
  }

  div {
    height: auto;
  }

  .first-part {
    border-radius: 5px;
    border: 3px solid $white;
    text-transform: capitalize;
  }

  &:after {
    display: block;
    /*margin-top: 3px;*/
    border-top: 3px solid $white;
    // content: '';
  }

  // img {
  // }
}

nav {
  position: relative;
  float: right;
}

.menu-check:before {
  display: block;
  border: 2px solid #ffffff;
  margin-bottom: 9px;
  border-radius: 4px;
  padding: 5px 10px;
  font: 36px/1 FontAwesome;
  color: $white;
  content: "\f0c9";
  cursor: pointer;
}

.main-menu {
  position: absolute;
  right: 0;
  z-index: $z7;
  display: none;
  line-height: 51px;
  background-color: $headerFooterBgColor;

  li {
    width: 125px;
  }
}

main {
  // padding: $headerHeight + 20px 0 52px;
  padding: 20px 0 52px;
  color: $white;

  .container {
    justify-content: space-around;
    max-width: 100%;
  }

  a {
    transition: text-decoration $transitionTime;

    &:hover {
      // text-shadow: 0px 3px 10px $darkWhite, 0px -3px 10px $darkWhite;
      text-decoration: underline;
    }
  }

  .breadcrumbs {
    li + li:before {
      font-family: FontAwesome;
      content: "\f105";
    }

    a {
      display: inline-block;
    }

    .active:before {
      padding-right: 20px;
    }
  }
}

h1,
h2,
p {
  width: 100%;
}

.frame {
  position: relative;
  background-color: #202124;
  overflow: hidden;

  &__img_wrap {
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &__img {
    position: relative;
    display: block;
    top: 50%;
    // left: 50%;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transform: translate(0, -50%);
  }

  &__foreground {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity $transitionTime + 1s;
  }
}

.frame_wrap {
  $block: &;

  position: relative;
  width: $defaultWrapFrameHeight;
  height: $defaultWrapFrameHeight;
  // margin-bottom: 14px;
  margin: 0 auto 14px;

  &__corner {
    position: absolute;
    transition: top $transitionTime, left $transitionTime, right $transitionTime,
      bottom $transitionTime;
  }

  &__corner--inside_left_top,
  &__corner--inside_right_top,
  &__corner--inside_left_bottom,
  &__corner--inside_right_bottom {
    width: $defaulFrameMargin;
    height: $defaulCornerHeight;
  }

  &__corner--outside_left_top,
  &__corner--outside_right_top,
  &__corner--outside_left_bottom,
  &__corner--outside_right_bottom {
    width: $defaulCornerHeight;
    height: $defaulFrameMargin;
  }

  &__corner--inside_left_top,
  &__corner--outside_left_top {
    top: $defaulFrameMargin;
    left: $defaulFrameMargin;
  }

  &__corner--inside_right_top,
  &__corner--outside_right_top {
    top: $defaulFrameMargin;
    right: $defaulFrameMargin;
  }

  &__corner--outside_left_bottom,
  &__corner--inside_left_bottom {
    left: $defaulFrameMargin;
    bottom: $defaulFrameMargin;
  }

  &__corner--outside_right_bottom,
  &__corner--inside_right_bottom {
    right: $defaulFrameMargin;
    bottom: $defaulFrameMargin;
  }

  &__corner--inside_left_top {
    border-top: $defaulBorderSize solid $white;
    border-left: $defaulBorderSize solid $white;
  }

  &__corner--inside_right_top {
    border-top: $defaulBorderSize solid $white;
    border-right: $defaulBorderSize solid $white;
  }

  &__corner--outside_left_top {
    border-top: $defaulBorderSize solid $white;
    border-left: $defaulBorderSize solid $white;
  }

  &__corner--outside_right_top {
    border-top: $defaulBorderSize solid $white;
    border-right: $defaulBorderSize solid $white;
  }

  &__corner--outside_left_bottom {
    border-left: $defaulBorderSize solid $white;
    border-bottom: $defaulBorderSize solid $white;
  }

  &__corner--outside_right_bottom {
    border-right: $defaulBorderSize solid $white;
    border-bottom: $defaulBorderSize solid $white;
  }

  &__corner--inside_left_bottom {
    border-left: $defaulBorderSize solid $white;
    border-bottom: $defaulBorderSize solid $white;
  }

  &__corner--inside_right_bottom {
    border-right: $defaulBorderSize solid $white;
    border-bottom: $defaulBorderSize solid $white;
  }

  &__frame {
    // position: relative;
    top: $defaulFrameMargin;
    margin: auto;
    border: $defaulBorderSize solid $white;
    width: 76.19047619047619%;
    height: 76.19047619047619%;
    // background-color: $headerFooterBgColor !important;
    // background-color: rgba(0, 0, 0, 0.9) !important;
    // background-color: #202124;
    // overflow: hidden;
  }

  &:hover,
  &.active {
    $corner_elem: #{$block}__corner;

    #{$corner_elem}--inside_left_top,
    #{$corner_elem}--inside_right_top {
      top: 0;
    }

    #{$corner_elem}--outside_left_top,
    #{$corner_elem}--outside_left_bottom {
      left: 0;
    }

    #{$corner_elem}--outside_right_top,
    #{$corner_elem}--outside_right_bottom {
      right: 0;
    }

    #{$corner_elem}--inside_left_bottom,
    #{$corner_elem}--inside_right_bottom {
      bottom: 0;
    }

    #{$block}__foreground {
      opacity: 0;
    }
  }
}

.category {
  float: left;
  width: 100%;
  overflow: hidden;
}

// .wrap-frame
// {
//   @include wrap-frame;
// }

.form-container {
  width: 100%;
}

form {
  margin: 0 auto;
  width: 300px;

  input,
  textarea,
  select {
    display: block;
    margin: 20px 0;
    padding: 0 10px;
    width: 100%;
    font-size: inherit;
    color: $white;
    background: none;

    &::-webkit-input-placeholder {
      color: $white;
      opacity: 1;
    }

    &::-moz-placeholder {
      color: $white;
      opacity: 1;
    } /* Firefox 19+ */

    &:-moz-placeholder {
      color: $white;
      opacity: 1;
    } /* Firefox 18- */

    &:-ms-input-placeholder {
      color: $white;
      opacity: 1;
    }
  }

  input {
    border: none;
    border-bottom: 2px solid $white;
    line-height: 30px;

    &[type="submit"] {
      border: 2px solid $white;
    }
  }

  textarea {
    border: 2px solid $white;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
  }

  option {
    color: $black;
  }

  .button {
    border: 2px solid $white;
    transition: color $transitionTime, background-color $transitionTime;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}

// .main-page .container
// {
//   flex-flow: column nowrap;
//   justify-content: flex-start;
// }

.rslides_nav,
.carousel-nav {
  position: absolute;
  font-family: FontAwesome;
  color: $white;
}

.main-slider {
  // z-index: $z6;
  flex-shrink: 0;
  margin: 0 auto;

  &.active .main-slider-demonstration {
    opacity: 1;
  }

  .rslides_nav {
    position: absolute;
    top: 0;
    z-index: $z6;
    font-size: 50px;
    line-height: $defaultWrapFrameHeight;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: opacity $transitionTime;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    &.prev {
      left: 0;
      text-align: left;

      &:before {
        content: "\f104";
      }
    }

    &.next {
      right: 0;
      text-align: right;

      &:before {
        content: "\f105";
      }
    }
  }
}

.main-slider-demonstration {
  // opacity: 0;
  transition: opacity $transitionTime,
    width $transitionTime ease $transitionTime,
    height $transitionTime ease $transitionTime,
    border-radius $transitionTime ease $transitionTime;
}

.wrap-carousel {
  position: relative;
  // margin-top: round(-($mainSliderHeight + $mainSliderCornerHeight*2)/2 - round(($carouselMargin*2 + $carouselHeight)/2));
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  // overflow: hidden;
}

.carousel {
  .simple-slider {
    overflow: hidden;
  }

  &__slide {
    float: left;
    color: $white;
    transition: box-shadow $transitionTime;
  }

  &__perforation_list {
    display: flex;
    // flex-wrap: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 14.37125748502994%;
  }

  &__perforation_item {
    float: left;
    // margin: 2.173913043478261% auto;
    margin: 2.173913043478261% 2.989130434782609%;
    width: 6.521739130434783%;
    height: 66.66666666666667%;
  }

  &__frame {
    margin: 0 auto;
    width: 96.73913043478261%;
    height: 71.25748502994012%;
    overflow: hidden;
  }

  // @include carousel;
}

// .carousel
// {
//   @include carousel;
// }

// .nav {
//   justify-content: space-between;
//   margin-top: 50px;
// }

//   .btn
//   {
//     border: 2px solid $white;
//     width: 100px;
//     text-align: center;
//     line-height: 50px;
//     color: $white;
//     cursor: pointer;
//     transition: border-color $transitionTime, color $transitionTime;

//   }

.carousel-nav {
  display: none;
  top: 0;
  opacity: 0;
  transition: opacity $transitionTime;

  &.opacity {
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  div {
    float: left;
    color: #aaa;
    cursor: pointer;
    transition: color $transitionTime;
    // background: #070;

    &:hover {
      color: inherit;
    }
  }

  .disabled {
    border-color: #aaa;
    color: #aaa;
  }

  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

#prev-page:before {
  content: "\f100";
}

#backward:before {
  content: "\f104";
}

#forward:before {
  content: "\f105";
}

#next-page:before {
  content: "\f101";
}

.main-footer {
  position: relative;
  // bottom: 0;
  margin-top: -$footerHeight;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  // opacity: 0;
  // transition: opacity $transitionTime;

  .container {
    justify-content: center;
  }

  ul {
    display: table;
    margin: 0 auto;
  }
}

// .fixed {
//   position: fixed;
// }

@import "adaptive.scss";
