.footer {
  position: relative;
  // bottom: 0;
  margin-top: -$footerHeight;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  // opacity: 0;
  // transition: opacity $transitionTime;

  // &-container {
  //   justify-content: center;
  // }

  &-main_menu {
    display: table;
    @include margin("* auto");
  }
}

// .fixed {
//   position: fixed;
// }
